.rotate90{
    /* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
}
.rotate180{
    /* Firefox */
    -moz-transform:rotate(180deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(180deg);
    /* Opera */
    -o-transform:rotate(180deg);
    /* IE9 */
    -ms-transform:rotate(180deg);
}
.container {
	max-width: 1024px;
}

.cols {
	font-size: 0;
    font-family: monospace;
}

.cols .image {
	display: inline-block;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
    margin-right: 1%;
    margin-left: 1%;
	margin-bottom: 2%;
}

.cols .image:hover{
    outline: grey 7px solid;
}

.two .image {
	width: 48%;
}

.cols .image:after{
	padding-top: 100%;
	display: block;
   	content: '';
}
.three .image {
	width: 31.3333333%;
}
.four .image {
	width: 23%;
}

.post-content a:hover {
    border: none;
}
